#SSDD_ToggleUpdate span {
	display: inline-block;
	padding: 1em;
	width: 2em;
	text-align: center;
}
#SSDD_ToggleUpdate.on span {
	background-color: green;
	color: white;
}
#SSDD_ToggleUpdate.off span {
	background-color: grey;
	color: black;
}
#SSDD_ToggleUpdate .progress {
	margin-left: 1em;
	display: inline-block;
	background-color: blue;
	width: 4em;
	opacity: 0.75;
}
#SSDD_ToggleUpdate.off .progress {
	display: none;
}