div#SSDD-toggle-update, div#SSDD-log-area {
	margin: 1em;
	padding: 1em;
}
.cms div.SSDD-log-area {
	/* TODO: Use relative height.
	 * The tabs influence up relative height calculations, this is a work around.
	 */
	height: 30em;
	overflow-y: auto;
}
.SSDD-log-area .request p {
	margin-bottom: 0;
}
#SSDD-toggle-update .ss-ui-button {
	margin-left: 1em;
	padding: 1em;
	width: 2em;
	text-align: center;
}
#SSDD-toggle-update.on .ss-ui-button {
	background-color: green;
	color: white;
}
#SSDD-toggle-update.off .ss-ui-button {
	background-color: grey;
	color: black;
}
#SSDD-toggle-update .ssdd-progress-bar {
	margin-left: 1em;
	display: inline-block;
	background-color: blue;
	width: 4em;
	opacity: 0.75;
}
#SSDD-toggle-update.off .ssdd-progress-bar {
	display: none;
}